<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Fit World - Contacto</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- Enlace al archivo CSS -->
</head>
<body>

    <!-- Encabezado y Navegación -->
    <header>
        <nav>
            <a href="../index.html">
                <img src="../images/logo.png" width="500" height="500" alt="Mass Fit World logo" class="logo">
            </a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>


    <section class="contact">
        <!-- Sección de Contacto -->
        <div class="contact-info">
            <h2>Contacto</h2>
            <p>Teléfono: +34 123 456 789</p>
            <p>Email: info@massfitworld.com</p>
            <p>Dirección: Calle Sebastián de la Plaza 2, Madrid, España</p>
        </div>
    
        <!-- Mapa -->
        <div id="mapa">
            <h2>Ubicación</h2>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.491007724267!2d-3.365238324128693!3d40.48652417142846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42496b0c881fdb%3A0xb73b103187b0abeb!2sC.%20Sebasti%C3%A1n%20de%20la%20Pl.%2C%202%2C%2028805%20Alcal%C3%A1%20de%20Henares%2C%20Madrid!5e0!3m2!1sen!2ses!4v1738196986298!5m2!1sen!2ses"
            allowfullscreen="" loading="lazy">
        </iframe>
        </div>
    </section>

    <!-- Pie de página con derechos de autor y redes sociales -->
    <footer>
        <p>&copy; 2025 Mass Fit World | Todos los derechos reservados</p>
        <p><small>Calle Sebastián de la Plaza 2, Madrid, España</small></p>
        <div class="social-icons">
            <a href="https://www.facebook.com"><img src="../images/facebook.png" width="512" height="512" alt="Facebook logo"></a>
            <a href="https://www.instagram.com"><img src="../images/instagram.png" width="512" height="512" alt="Instagram logo"></a>
            <a href="https://www.twitter.com"><img src="../images/twitter.png" width="2100" height="1709" alt="Twitter logo"></a>
            <a href="https://www.youtube.com"><img src="../images/youtube.png"  width="1000" height="1000" alt="YouTube logo"></a>
        </div>
        <p><small><a href="aviso-legal.html">Aviso Legal</a> | <a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a></small></p>
    </footer>

</body>
</html>